<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>checknote_final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EtudiantServlet</display-name>
    <servlet-name>EtudiantServlet</servlet-name>
    <servlet-class>com.servlet.checknote_final.EtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantServlet</servlet-name>
    <url-pattern>/etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClasseServlet</display-name>
    <servlet-name>ClasseServlet</servlet-name>
    <servlet-class>com.servlet.checknote_final.ClasseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClasseServlet</servlet-name>
    <url-pattern>/classe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploads</display-name>
    <servlet-name>FileUploads</servlet-name>
    <servlet-class>com.servlet.checknote_final.FileUploads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploads</servlet-name>
    <url-pattern>/FileUploads</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UeServlet</display-name>
    <servlet-name>UeServlet</servlet-name>
    <servlet-class>com.servlet.checknote_final.UeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UeServlet</servlet-name>
    <url-pattern>/ue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteServlet</display-name>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>com.servlet.checknote_final.NoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/note</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.servlet.checknote_final.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.servlet.checknote_final.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
</web-app>